* {
    font-family: 'Lora', serif;
    color: #efd469;
}

.cover {
    width: 100%;
    padding: 2%;
    padding-bottom: 1%;
    height: 20px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.base {
    padding: 2%;
    padding-top: 2%;
}

.topbar {
    padding: 1%;
    padding-left: 3%;
}


